$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-family: 'Raleway', sans-serif;
}

a {
}

h1,
h2,
h3,
h4 {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
}

#main {
    width: 100%;
    /* Custom page header */
    header {
        margin-bottom: 0;
        text-align: center;
        .nav {
            padding: 20px 0;
        }
        .nav > li {
            display: inline-block;
            float: none;
            a {
                background-color: rgba(0,0,0,0);
                color: #111;
                font-size: larger;
                letter-spacing: 2px;
                margin: 0 15px;
                text-transform: uppercase;
                text-shadow: 0 0 1px #FFF;
            }
        }
        .logo{
            .house {
                margin-right: 10px;
                height: 83px;
            }
            .text-logo {
                height: 80px;
            }
        }
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
.marketing,
footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
header {
    background-image: url(images/wall.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
}

/* Custom page footer */
footer {
    padding-top: 20px;
    &.row.wide {
    }
    &.row .row.centered {
        padding: 10px 0;
    }
    .disclaimer {
        font-size: 10px;
        text-align: center;
    }
    .contact {
        padding-top: 5px;
        .info {
            .title {
                font-style: italic;
                padding: 2px 5px;
            }
            .data {
                padding: 2px 5px;
                text-align: left;
            }
        }
    }
    .csp-logo {
        text-align: center;
        border-right: 1px solid;
        height: 120px;
        line-height: 120px;
        img {
            height: 80px;
            width: 80px;
        }
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Rows for Pages */
.row {
    &.wide {
        background-color: #EFEFF0;
        box-shadow: 0 0 20px -10px;
    }
    &:first-child {
        margin-top: 0;
    }
    .row.centered {
        margin: auto;
        padding: 40px 0;
        width: 900px;
    }
}


/* Steps Pages */
.steps .background {
    background-color: #FFF;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 0 300px;
    .number {
        border: 1px solid rgba(0,0,0,0.5);
        font-size: 100px;
        height: 150px;
        line-height: 150px;
        text-align: center;
        width: 150px;
        font-family: 'Cardo', serif;
    }
    .paragraph {
        padding: 0 40px;
    }
    .icon {
        background-image: url(images/icons.svg);
        background-size: 2000px;
        background-position: 7px -19px; /* Seat */
        height: 150px;
        width: 150px;
        &.icon-0 {
            background-position: -203px -219px; /* Chat */
        }
        &.icon-1 {
            background-position: 7px -19px; /* Seat */
        }
        &.icon-2 {
            background-position: 7px -219px; /* Paintbrush */
        }
        &.icon-3 {
            background-position: -203px -19px; /* Arrow */
        }
    }
    &.paragraph {
        background-image: url(images/living-room.jpg);
    }
    &.step-0 {
        background-image: url(images/vase.jpg);
    }
    &.step-1 {
        background-image: url(images/bedroom.jpg);
    }
    &.step-2 {
        background-image: url(images/house.jpg);
    }
    &.step-3 {
        background-image: url(images/kitchen.jpg);
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    header,
    .marketing,
    footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
