/**
 * Message sent.
 */
.contact form {
    min-height: 450px;
    .message.field {
        margin-top: 35px;
    }
}

.contact .thank-you {
    background-color: rgba(0,0,0,0.05);
    border-radius: 6px;
    min-height: 450px;
    h5 {
        font-style: italic;
        padding-top: 200px;
        text-align: center;
    }
}

.contact .loading {
    background-image: url(images/loading.gif);
    background-repeat: no-repeat;
    height: 11px;
    margin: 10px;
    width: 43px;
}

.contact .email-icon {
    background-image: url(images/icons.svg);
    background-size: 2000px;
    background-position: -630px -875px; /* Letter */
    float: left;
    height: 70px;
    margin: 0 auto;
    width: 115px;
}
