/**
 * Message sent.
 */
.contact form {
    min-height: 450px;
}

.contact .thank-you {
    background-color: rgba(0,0,0,0.05);
    border-radius: 6px;
    min-height: 450px;
    h5 {
        font-style: italic;
        padding-top: 200px;
        text-align: center;
    }
}
