html,
body {
    background: #EFEFF0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
    margin-top: 0;
}

header,
footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
header {
    margin-bottom: 0;
    padding-top: 30px;
    .nav {
        padding: 20px 0;
    }
    .nav > li {
        display: inline-block;
        float: none;
    }
}

/* Custom page footer */
footer {
    height: 195px;
    margin: 0 auto !important;
    padding: 0;
    position: absolute !important;
    width: 100%;
    &.row .row.centered {
        padding: 10px 0;
    }
    .contact {
        padding-top: 5px;
        .info {
            .title {
                padding: 2px 5px;
            }
            .data {
                padding: 2px 5px;
            }
        }
    }
    .csp-logo {
        height: 120px;
        line-height: 120px;
        img {
            height: 80px;
            width: 80px;
        }
    }
}

#main {
    min-height: 100%;
}

#content {
    margin-bottom: -175px;
    padding-bottom: 175px;
}

/* Rows for Pages */
.row {
    &:first-child {
        margin-top: 0;
    }
    .row.centered {
        margin: auto;
        padding: 40px 0 20px;
        width: 900px;
    }
}

/* Page Backgrounds */
.background {
    padding: 0 0 300px;
    .number {
        border: 1px solid #000;
        color: #000;
        height: 120px;
        line-height: 120px;
        margin-top: 5px;
        width: 120px;
    }
    .paragraph {
        padding: 0 40px;
    }
    .icon {
        height: 150px;
        width: 150px;
    }
}
