header,
footer {
    background-image: url(images/wall.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    .nav > li {
        & > a {
            background-color: rgba(0,0,0,0);
            margin: 0 15px;
            padding: 10px 0;
            &:hover,
            &:focus {
                background-color: rgba(0,0,0,0);
                border-bottom: 1px solid rgba(0,0,0,0.5);
                padding-bottom: 9px;
            }
        }
    }
}

/**
 * Menu, active item.
 */
body.steps a.steps,
body.about a.about,
body.portfolio a.portfolio,
body.contact a.contact {
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding-bottom: 9px;
}

.logo{
    .house {
        margin-right: 20px;
        height: 83px;
    }
    .text-logo {
        height: 80px;
    }
}

/* Rows for Pages */
.row {
    &.wide {
        background-color: #EFEFF0;
    }
}

/* Page Backgrounds */
.background {
    background-color: #FFF;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .icon {
        background-image: url(images/icons.png);
        background-size: 2000px;
        background-position: 7px -19px; /* Seat */
    }
}
