.case-study {
  cursor: pointer;
  height: 65px;
  overflow: hidden;
  padding-left: 25px;
  transition: all .5s;
  img {
    height: auto;
    margin-top: -28%;
    transition: all .5s;
    width: 100%;
  }
  .image-viewport {
    padding: 0;
    .close {
      display: none;
      font-size: 36px;
      height: 20px;
      line-height: 20px;
      position: absolute;
      right: 5px;
      top: 0px;
      width: 20px;
      z-index: 2;
    }
  }
  &.active {
    cursor: default;
    height: 530px;
    margin-bottom: 30px;
    margin-top: 10px;
    img {
      margin-top: 0;
    }
    .close {
      display: block;
    }
  }
}

.active-images {
  padding: 0;
  .active-image {
    display: none;
    &.active {
      display: block;
    }
    .fa {
      cursor: pointer;
      color: #000;
      font-size: 24px;
      margin-top: -100px;
      padding: 50px;
      position: relative;
      text-shadow: 0 0 2px #FFF,
                  0 0 2px #FFF,
                  0 0 2px #FFF,
                  0 0 2px #FFF,
                  0 0 2px #FFF;
      &.fa-arrow-left {
        padding-left: 30px;
      }
    }
  }
}

.image-titles {
  margin-bottom: 30px;
  .image-title{
    background-color: rgba(255, 255, 255, .75);
    border-radius: 0 0 6px 6px;
    display: none;
    font-style: italic;
    font-size: smaller;
    padding-left: .5em;
    &.active-title {
      display: block;
    }
  }
}

.thumbs {
  .thumb {
    padding-left: 0;
    text-align: center;
    img {
      cursor: pointer;
      max-width: 100%;
    }
  }
}

.sidebar {
  padding: 0;
  .title {
    height: 65px;
    padding: 0;
    h3 {
      font-size: 25px;
      margin: 20px 0;
    }
  }
  .description .body {
    padding-left: 0;
  }
}

.portfolio .row.centered.body {
  padding-bottom: 0;
}


.testimonials-wrapper {
  margin: 0 auto 50px;
  .testimonial{
    blockquote {
      border-left: 0;
      white-space: pre-wrap;
    }
  }
  .carousel-control {
    background: none;
    .glyphicon {
      color: #000;
      text-shadow: none;
    }
  }
}
