.case-study {
    cursor: pointer;
    height: 65px;
    overflow: hidden;
    transition: all .5s;
    img {
        height: auto;
        margin-top: -30%;
        transition: all .5s;
        width: 100%;
    }
    &.active {
        cursor: default;
        height: 500px;
        margin-bottom: 30px;
        img {
            margin-top: 0;
        }
    }
}

.active-images {
    margin-bottom: 30px;
    padding: 0;
    .active-image {
        cursor: pointer;
        display: none;
        &.active {
            display: block;
        }
    }
}

.thumbs {
    .thumb {
        padding-left: 0;
        text-align: center;
        img {
            cursor: pointer;
            max-width: 100%;
        }
    }
}

.sidebar {
    padding: 0;
    .title {
        height: 65px;
        padding: 0;
        h3 {
            font-size: 25px;
            margin: 20px 0;
        }
    }
    .description .body {
        padding-left: 0;
    }
}

.image-viewport {
    padding: 0;
}

.portfolio .row.centered.body {
    padding-bottom: 0;
}
