/* Page Backgrounds */
.steps .background {
    background-image: url(images/dining.jpg);
    background-position: center;
    .icon {
        background-position: -203px -19px; /* Arrow */
        &.icon-0 {
            background-position: -203px -219px; /* Chat */
        }
        &.icon-1 {
            background-position: 7px -19px; /* Seat */
        }
        &.icon-2 {
            background-position: 7px -219px; /* Paintbrush */
        }
        &.icon-3 {
            background-position: -203px -19px; /* Arrow */
        }
    }
    &.paragraph {
        background-image: url(images/bathroom.jpg);
    }
    &.step-0 {
        background-image: url(images/family-room-after.jpg);
    }
    &.step-1 {
        background-image: url(images/living-room.jpg);
    }
    &.step-2 {
        background-image: url(images/mood-board.jpg);
    }
    &.step-3 {
        background-image: url(images/bedroom.jpg);
    }
    &.step {
      .number {
        margin-left: 35px;
      }
      .paragraph {
        margin-left: -20px;
        margin-right: -30px;
      }
    }
}
