/* Page Backgrounds */
.steps .background {
    background-image: url(images/dining.jpg);
    .icon {
        background-position: -203px -19px; /* Arrow */
        &.icon-0 {
            background-position: -203px -219px; /* Chat */
        }
        &.icon-1 {
            background-position: 7px -19px; /* Seat */
        }
        &.icon-2 {
            background-position: 7px -219px; /* Paintbrush */
        }
        &.icon-3 {
            background-position: -203px -19px; /* Arrow */
        }
    }
    &.paragraph {
        background-image: url(images/bathroom.jpg);
    }
    &.step-0 {
        background-image: url(images/family-room-after.jpg);
        background-position: 0 -195px;
    }
    &.step-1 {
        background-image: url(images/living-room.jpg);
        background-position: 0 -30px;
    }
    &.step-2 {
        background-image: url(images/mood-board.jpg);
        background-position: 0 20px;
    }
    &.step-3 {
        background-image: url(images/bedroom.jpg);
        background-position: 0 -90px;
    }
}
