<div class="portfolio">
  <div class="row wide">
    <div class="row centered" ng-show="page.body">
      <div ng-bind-html="page.body" class="col-md-12"></div>
    </div>
    <div class="row centered">
      <div class="col-md-3 study-tabs">
        <div ng-repeat="study in page.caseStudies" ng-click="setActiveCaseStudy($index)">
          <div class="tab col-md-12">
            <div class="title">{{study.title}}</div>
            <!--<div class="thumb" ng-bind-html="study.images[0]"></div>-->
            <div class="thumb thumb-{{$index}}" ng-repeat="image in study.images" ng-bind-html="image"></div>
          </div>
        </div>
      </div>
      <div class="col-md-9 study">
        <div class="study" ng-repeat="study in page.caseStudies" ng-show="activeCaseStudy == $index">
          <h3 class="col-md-12">{{study.title}}</h3>
          <div class="col-md-12" ng-bind-html="study.body"></div>
          <div class="col-md-12 active-images row">
            <div class="col-md-12" ng-repeat="image in study.images" ng-bind-html="image" ng-show="activeImage == $index"></div>
          </div>
          <div class="col-md-12 thumbs row">
            <div class="col-md-2 thumb" ng-repeat="image in study.images" ng-bind-html="image" ng-click="setActiveImage($index)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
